{{ define "main" }}
{{ partial "page-header.html" . }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div class="content">{{ .Content }}</div>
        <!-- Ranges through content/publications/*.md -->
        <ul>
        {{ range .Pages.ByDate.Reverse }}
          <li>
            <a href="{{ .Params.doi }}" class="post-title">{{.Title}} - {{.Date.Format "2006"}}</a>
            <i>{{ .Params.journal }}</i><br>
            {{ range .Params.authors }} 
              {{- . -}},
            {{ end }}
          </li>
          <br>
        {{ end }}
        <ul>
      </div>
    </div>
  </div>
</section>

{{ end }}