// This file is empty within the template
// You can use it to override CSS from within your project

// banner
.banner {
  width: 100%;
}

// increase line in bulletpoints
.content { 
  ul {
    line-height: 1.7;
    li::before {
      top: 10px;
    }
  }
}

// change hyperlink color
.content a {
  color: #BE661F;
}

a {
  color: #BE661F;
}
