{{ define "main" }}
{{ partial "page-header.html" . }}

<section id="team" class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        {{ range $i, $p := .Params.team_members }}
        {{ "<!-- team member -->" | safeHTML }}
          {{ $side := "left" }}
          {{ if not (modBool $i 2) }}
            {{ $side = "right" }}
          {{ end }}
          <img align="{{ $side }}" width="200" height="200" src="{{ .image | relURL }}">
          <h3>{{ .name }}</h3>
          <p>{{ .content | markdownify }}</p>
          <br>
          <br>
        {{ end }}
      </div>
    </div>
  </div>

{{ end }}