.nav-item {
  margin: 0;

  .nav-link {
    text-transform: capitalize;
    font-weight: 700;
  }
}

.navbar-light .navbar-nav .nav-link {
  color: $text-color-dark;

  &:hover {
    color: $primary-color;
  }
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 20px;

  @include desktop {
    padding: 10px;
  }
}

#select-language{
  background-color: transparent;
  font-weight: 700;
}

/* ===============================
 DROPDOWN MENU EXTRA
================================*/

.dropdown-menu {
  padding: 10px;
  border: 0;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(250, 0, 0, 0.05);
  font-size: 1.2rem;
}

.dropdown-submenu.active > .dropdown-toggle,
.dropdown-submenu:hover > .dropdown-item,
.dropdown-item.active,
.dropdown-item:hover {
  background: $light;
  color: $primary-color;
}

@media (min-width: 992px) {
  .dropdown-menu {
    transition: all 0.2s ease-in, visibility 0s linear 0.2s, transform 0.2s linear;
    display: block;
    visibility: hidden;
    opacity: 0;
    min-width: 200px;
    transform: translateY(10px);
  }
  .dropdown-menu li:first-child {
    margin-top: 5px;
  }
  .dropdown-menu li:last-child {
    margin-bottom: 5px;
  }

  .dropleft .dropdown-menu,
.dropright .dropdown-menu {
    margin-top: -5px;
  }

  .dropdown:hover > .dropdown-menu {
    visibility: visible;
    transition: all 0.3s ease 0s;
    opacity: 1;
    transform: translateY(0);
  }
}
